<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>
            Taxi Detail
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding id="page5" class="background-color">


    <div class="div-color">

        <h1 style="color:#BA3E7C;text-align:center;padding-top:3%;font-weight:bold;">
            {{taxiLicensePlate}}
        </h1>

        <ion-slides>
            <ion-slide *ngFor="let taxiImage of taxiImages | async">
                <img src="{{taxiImage}}" style="display:block;width:auto;height:200px;margin-left:auto;margin-right:auto;" />
            </ion-slide>
            <ion-slide *ngIf="!taxiImagesExist">
                <img src="assets/img/taxi.png" style="display:block;width:auto;height:200px;margin-left:auto;margin-right:auto;" />
            </ion-slide>
        </ion-slides>

        <div class="spacer" style="height:10px;" id="profile-spacer4"></div>

        <div class="div-overallRating">
            <h1>Overall Rating</h1>
            <p>
                Service : {{calTaxiOverallRating.Service}}
                <br>Politeness : {{calTaxiOverallRating.Politeness}}
                <br>Cleanness : {{calTaxiOverallRating.Cleanness}}
            </p>
        </div>

        <button id="taxiDetail-button4" class="button-general" on-click="goToAddReview()">
            Add Review
        </button>

    </div>

    <div *ngIf="!taxiReviewExist">
        <div class="spacer" style="height:20px;" id="profile-spacer4"></div>
        <div class="div-color">
            <h1 style="color:#BA3E7C;text-align:center;padding-top:3%;">
                No Reviews
            </h1>
        </div>
    </div>

    <div>
        <ion-card *ngFor="let taxiReview of taxiReviews | async" class="div-color-commend" style="margin:10px 0px 10px 0px;width:100%;">
            <ion-list>
                <ion-item class="div-color-commend-header" id="taxiDetail-list-item11">
                    <ion-avatar item-left>
                        <img src="{{usersPic[taxiReview.UserId]}}" />
                    </ion-avatar>
                    <h2 text-wrap style="color:#BA3E7C;font-size:20px;font-weight: bold;">
                        {{usersName[taxiReview.UserId]}}
                    </h2>
                </ion-item>
                <ion-item id="taxiDetail-list-item-container2" class="div-color-commend">
                    <div id="taxiDetail-markdown2" class="show-list-numbers-and-dots">
                        <p style="color:#BA3E7C;" text-wrap>
                            {{taxiReview.Comment}}
                        </p>
                    </div>
                </ion-item>
            </ion-list>
        </ion-card>
    </div>

</ion-content>