<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
        <ion-title>
            My Review
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding id="page3" class="background-color">

    <div class="div-color-list">

        <ion-list *ngFor="let myReview of myReviews | async" id="myReview-list3" style="margin-top:2%">
            <ion-item class="listitem-color" on-click="goToTaxiDetail(myReview.key)" id="myReview-list-item13">
                <ion-avatar item-left>
                    <img *ngIf="!taxisImage[myReview.key]" src="assets/img/taxi.png">
                    <img *ngIf="taxisImage[myReview.key]" src="{{taxisImage[myReview.key]}}" />
                </ion-avatar>
                <h2>
                    {{myReview.key}}
                </h2>
            </ion-item>
        </ion-list>

        <div *ngIf="!user">
            <div class="spacer" style="height:20px;" id="profile-spacer4"></div>
            <div class="div-color">
                <h1 style="color:#BA3E7C;text-align:center;padding-top:3%;">
                    Please login
                </h1>
            </div>
        </div>
    </div>

</ion-content>