<ion-menu [content]="mainContent">
    <ion-content id="side-menu21" class="side-menu-gradient">
        <div class="spacer" style="height:25px;" id="menu-spacer1"></div>

        <div class="profile-details" *ngIf="user != null">
            <a style="display:block;" menuClose="" on-click="goToProfile()">
                <img src="{{user.photoURL}}" style="display:block;width:50%;height:auto;margin-left:auto;margin-right:auto;" />
            </a>
            <h3 id="menu-heading1" style="color:#FFFFFF;font-weight:300;text-align:center;" menuClose="" on-click="goToProfile()">
                {{user.displayName}}
            </h3>
        </div>

        <div class="profile-login" *ngIf="user == null">
            <button ion-button color="dark" block menuClose="" (click)="goToProfile()">Log in</button>
        </div>

        <div class="spacer" style="height:25px;" id="menu-spacer2"></div>
        <ion-list id="menu-list9">
            <ion-item color="none" menuClose="" on-click="goToFindTaxi()" id="menu-list-item29" class="side-menu-item">
                <ion-icon name="search" item-left></ion-icon>
                Find Taxi
            </ion-item>
            <ion-item color="none" menuClose="" on-click="goToRecentView()" id="menu-list-item30" class="side-menu-item">
                <ion-icon name="eye" item-left></ion-icon>
                Recent View
            </ion-item>
            <ion-item color="none" menuClose="" on-click="goToMyReview()" id="menu-list-item31" class="side-menu-item">
                <ion-icon name="bookmark" item-left></ion-icon>
                My Review
            </ion-item>
        </ion-list>

    </ion-content>
</ion-menu>

<ion-nav #mainContent [root]="rootPage"></ion-nav>