// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
$SIDEMENU_TOP:#3E5E75;
$SIDEMENU_BOTTOM: #3E5E75;
$SIDEMENU_TRANSPARENCY: rgba(255, 255, 255, 0.4);
.side-menu-item {
    background: none;
    color: white;
    font-weight: 300;
    border: 0px;
    .item-content {
        background: none;
        &.activated {
            background: $SIDEMENU_TRANSPARENCY;
        }
    }
    &.active-page-highlight {
        .item-content {
            background: $SIDEMENU_TRANSPARENCY;
        }
    }
}

.side-menu-gradient {
    background: -webkit-linear-gradient(left top, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
    background: -o-linear-gradient(bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
    background: -moz-linear-gradient(bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
    background: linear-gradient(to bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
}

.profile-image-a {
    img {
        border-radius: 60%;
        margin: 10px;
        border: 2px solid $SIDEMENU_TRANSPARENCY;
        -webkit-box-shadow: 0px 0px 142px -37px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 142px -37px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 142px -37px rgba(0, 0, 0, 0.75);
    }
}

//add
.div-overallRating {
    padding: 5px;
    width: 90%;
    margin: 0 auto;
    background-color: #e3eb9d;
    border-radius: 10px;
    border-style: dashed;
    border-color: #BA3E7C;
}

.div-overallRating p {
    text-align: center;
    margin: 0;
    color: #BA3E7C;
    font-weight: bold;
}

.div-overallRating h1 {
    color: #BA3E7C;
    text-align: center;
}

.div-color-commend {
    background-color: #F1F1E9;
    border-radius: 10px;
}

.div-color-list {
    background-color: #F1F1E9;
    border-radius: 10px;
    padding: 1px;
}

.div-color-commend-header {
    background-color: #acacac;
}

.div-color {
    background-color: #F1F1E9;
    border-radius: 10px;
    padding: 15px; //padding-bottom: 30px;
}

.background-color {
    background-color: #3E5E75;
}

.button-general {
    background-color: #8ECAA8;
    margin-top: 10px;
    margin-left: 5%;
    width: 90%;
    height: 40px;
    border-radius: 7px;
    color: whitesmoke;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    position: center;
}

.button-general:hover {
    background-color: #BA3E7C;
    color: white;
}

.rating-label {
    color: #BA3E7C;
    font-size: 20px;
    padding-left: 3%;
}

.text-modify {
    color: whitesmoke;
    margin-top: 15px;
    text-align: center;
}

// .div-color {
//     background-color:#F1F1E9;
//     border-radius: 10px;
//     padding-bottom: 20px;
// }
// .background-color{
//     background-color: #3E5E75;
// }
.button-google {
    background-color: #E8362D;
    margin-top: 5%;
    margin-left: 5%;
    width: 90%;
    height: 40px;
    border-radius: 7px;
    color: whitesmoke;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    position: center;
}

.button-facebook {
    background-color: #387BE4;
    margin-top: 5%;
    margin-left: 5%;
    width: 90%;
    height: 40px;
    border-radius: 7px;
    color: whitesmoke;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    position: center;
}

.button-logout {
    background-color: #ff0000;
    margin-top: 5%;
    margin-left: 5%;
    width: 90%;
    height: 40px;
    border-radius: 7px;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    position: center;
}

.button-google:hover {
    background-color: #8ECAA8;
    color: white;
}

.button-facebook:hover {
    background-color: #8ECAA8;
    color: white;
}

.button-logout:hover {
    background-color: #650000;
    color: #ffffff;
}

.div-list-color {
    background-color: #F1F1E9;
    border-radius: 10px;
    padding-bottom: 3px;
}

// .background-color{
//     background-color: #3E5E75;
// }
.listitem-color {
    background-color: #F1F1E9;
}